extends layout

block content
  ul
    each item in items
      li#title #{item.title}
      li#description= item.description
      li
      -item.image_link ? item.image_link = item.image_link : item.image_link = 'https://images.freecreatives.com/wp-content/uploads/2015/05/3d-book-smart-object.png'
        img#image(src=`${item.image_link}`)
      li#url
        a #{item.url}
